@charset "UTF-8";

/* ========================== */
/*           reset            */
/* ========================== */

* {
  margin: 0;
  padding: 0;
}

html {
  color: #333;
  background: #fff;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

/* ========================== */
#top {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -100;
}

.js-block {
  display: block;
}

@media screen and (max-width: 900px) {
  .js-none {
    display: none;
  }
}

/* ========================== */

/* ========================== */
/*           wipein           */
/* ========================== */

.wipe {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: 1s ease-out;
}

.wipe.in {
  width: 100%;
}

/* ========================== */
/*           slidein          */
/* ========================== */

.slideLeft {
  transform: translateX(-50px);
}
.slideRight {
  transform: translateX(50px);
}
.slideTop {
  transform: translateY(-50px);
}
.slideBottom {
  transform: translateY(50px);
}

.slide {
  opacity: 0;
  transition: 0.6s ease-out;
}

.slide.in {
  transform: translate(0, 0);
  opacity: 1;
}

/* ========================== */
/*      transition-delay      */
/* ========================== */

.td02 {
  transition-delay: 0.2s;
}

.td04 {
  transition-delay: 0.4s;
}

.td06 {
  transition-delay: 0.6s;
}

/* ========================== */
/*        back-to-top         */
/* ========================== */

#back-to-top {
  width: 50px;
  height: 50px;
  background: #000;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: -100px;
  z-index: 100;
  opacity: 0.3;
  transition: 0.4s;
}

#back-to-top:hover {
  opacity: 0.7;
  transition: 0.3s;
}

#back-to-top::before {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  top: 20px;
  left: 15px;
}

#back-to-top.in {
  right: 20px;
}

/* ========================== */
/*         hamburger          */
/* ========================== */

#hamburger {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
}

#hamburger span {
  display: block;
  width: 20px;
  height: 1px;
  background: #333;
  position: absolute;
  left: 10px;
  transition: 0.3s;
}

#hamburger:hover span:nth-child(2) {
  left: 15px;
}

#hamburger span:nth-child(1) {
  top: 10px;
}

#hamburger span:nth-child(2) {
  top: 20px;
}

#hamburger span:nth-child(3) {
  top: 30px;
}

#hamburger.active span:nth-child(1) {
  top: 20px;
  transform: rotate(45deg);
}

#hamburger.active span:nth-child(2) {
  left: 30px;
  opacity: 0;
}

#hamburger.active span:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
}

body.hidden {
  overflow: hidden;
}

.header-nav {
  display: block;
}

@media screen and (max-width: 900px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
    background: #fff;
    display: none;
  }

  .header-nav ul.flex {
    display: block;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #hamburger {
    display: block;
  }
}

/* ========================== */
/*           public           */
/* ========================== */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3%;
}

h2 {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 100;
}

/* ========================== */
/*           header           */
/* ========================== */

header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
}

header.fix {
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  background: #fffc;
  box-shadow: 0 0 20px #ddd;
}

header .inner.flex {
  max-width: 1300px;
  align-items: center;
  padding: 15px 3%;
  position: relative;
}

.logo {
  width: 100px;
  visibility: hidden;
}

.header-nav li {
  margin: 0 40px;
}

/* ========================== */
/*            catch           */
/* ========================== */

.catch {
  position: relative;
  top: 20vh;
  margin-bottom: 150px;
}

.catch::before {
  content: "";
  width: 100%;
  height: 110vh;
  position: absolute;
  top: 100px;
  left: 0;
  background: #f3f3f3;
  z-index: -1;
}

.mv {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 80vh;
  background: #fff;
}

.mv img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  /*  */
  display: none;
  opacity: 0;
  transition: opacity 2s;
}

.mv img.fadein {
  display: block;
  opacity: 1;
}
.mv img.fadeout {
  display: none;
  opacity: 0_;
}

.copy {
  position: relative;
  z-index: 1;
  padding: 150px 0 270px 7%;
}

.main-copy {
  font-size: 75px;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 20px;
}

.sub-copy {
  font-size: 20px;
  line-height: 1.8em;
}

/* ========================== */
/*           news             */
/* ========================== */

#news {
  padding: 70px 0 0 10%;
  margin-bottom: 70px;
}

.carousel-wrap {
  position: relative;
  overflow-x: hidden;
  padding: 70px 0 40px;
  top: -50px;
  height: 300px;
}

.carousel-item {
  width: 330px;
  margin-right: 40px;
  box-shadow: 0 0 10px #ddd;
}

.news-content {
  padding: 15px 10px 20px;
}

.news-content h3 {
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

.news-content p {
  font-size: 13px;
}

.btn {
  border: 1px solid #555;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transition: 0.3s;
  cursor: pointer;
}

#prev.btn {
  right: calc(23%);
}

#next.btn {
  right: calc(23% - 70px);
}

.btn::before {
  content: "";
  width: 13px;
  height: 13px;
  border-top: 1px solid #555;
  border-right: 1px solid #555;
  position: absolute;
  top: 13px;
  left: 13px;
  transition: 0.3s;
}

#next.btn::before {
  transform: rotate(45deg);
}
#prev.btn::before {
  transform: rotate(-135deg);
}

.btn:hover {
  background: #1e90ff;
}

.btn:hover::before {
  border-color: #fff;
}

#carousel {
  position: absolute;
  top: 60px;
  left: 0;
  transition: transform 400ms;
}

/* ========================== */
/*   	      service           */
/* ========================== */

#service {
  padding-top: 70px;
}

#service h2 {
  text-align: center;
}

#service .inner {
  max-width: 900px;
}

.service-container.flex {
  flex-wrap: wrap;
  padding-top: 20px;
}

.service-content {
  width: 26%;
  margin: 0 2% 50px;
  text-align: center;
}

.service-content h3 {
  margin-bottom: 5px;
}

.service-content p {
  font-size: 13px;
}

/* ========================== */
/*   	      concept           */
/* ========================== */

#concept {
  padding: 130px 0;
  position: relative;
}

.concept-image {
  position: absolute;
  top: 100px;
  left: 0;
  width: 50%;
  height: 400px;
  overflow: hidden;
}

.concept-image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  object-fit: cover;
  object-position: center;
}

#concept .flex::before {
  content: "";
}

.concept-content {
  width: 40%;
  margin-right: 5%;
}

.concept-content p {
  font-size: 14px;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
  user-select: none;
}

.concept-content a {
  display: inline-block;
  padding: 10px 30px;
  position: relative;
}

.concept-content a::before {
  content: "+";
  position: absolute;
  top: 10px;
  left: 0;
}

.concept-content a::after {
  content: "";
  width: 100%;
  border-top: 1px solid #333;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.concept-content a:hover::before {
  transform: rotate(360deg);
  transition: 0.3s;
}

.concept-content a:hover::after {
  width: 120%;
}

/* ========================== */
/*   	        footer          */
/* ========================== */

footer {
  font-size: 14px;
  text-align: center;
  padding: 80px 0 40px;
}
